{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_title %} - Sign out {% endblock %}

{% block content %}
<div class="container-fluid sign-in-form">
  <div class="row mt-5"></div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h1>{% trans "Sign Out" %}</h1></div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <form class="sign-form" method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn primaryAction" type="submit">{% trans "Sign Out" %}</button>
        </form>
    </div>
    <div class="col-4"></div>
  </div>

{% endblock %}
