{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %} - Change Password {% endblock %}

{% block content %}
<div class="container-fluid sign-in-form">
  <div class="row mt-5"></div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h1>Change Password</h1></div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4"></div>
    <div class="col-4">
    
    
    <p>Your password is now changed.</p>
     
    </div>
    <div class="col-2"></div>
  </div>
</div>
{% endblock %}

