{% extends "base.html" %}
{% load static %}

{% block homebody %}
<div class="hero-opaque"></div>
<img src="/media/hero.gif" alt="tutor line" class="hero-img">
{% endblock %}

{% block content %}
    <section class="behind">
        <div class="hero-txt mt-5">
            <h1 class="hero-header">
                Your shortcut to the right support for every learner.
            </h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 hero-prgrph mt-3 p-3">
                        <h2 class="small-txt" id="header-2">Welcome to tutorline, your place to connect with qualified tutors and teachers.</h2>
                        <div class="row">
                            <div class="col-5 info-col" id="info-col">
                                <div class="info-col-opaque"></div>
                                <h3>Students:</h3>
                                <p>Browse subjects, compare educator profiles, and choose the right fit for your learning needs.</p>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-5 info-col" id="info-col-right">
                                <h3>Educators:</h3>
                                <p>Create your profile to share your expertise and set your rates.
                               Our platform makes it simple — search, connect, and start learning or teaching with confidence.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row empty-row"></div>
            <div class="row mt-3 mb-2">
                <div class="col-4"></div>
                <div class="col-4">
                    <h4 id="subjects">Select from subject below</h4>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2 subject-box">
                    <a href="">
                        <h5>Kodesh</h5>
                        <i class="fa-solid fa-synagogue subject-icon"></i>
                    </a>
                </div>
                <div class="col-2 subject-box" id="chol-box">
                    <a href="">
                        <h5>Chol</h5>
                        <i class="fa-solid fa-calculator subject-icon"></i>
                    </a>
                </div>
                <div class="col-2 subject-box">
                    <a href="">
                        <h5>Substitutes</h5>
                        <i class="fa-solid fa-person-chalkboard subject-icon"></i>
                    </a>
                </div>
                <div class="col-2 subject-box">
                    <a href="">
                        <h5>Groups</h5>
                        <i class="fa-solid fa-people-group subject-icon"></i>
                    </a>
                </div>
                <div class="col-2 subject-box">
                    <a href="">
                        <h5>Activities</h5>
                        <i class="fa-solid fa-paintbrush subject-icon"></i>
                    </a>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block postloadjs %}
<script>
    window.onscroll = function(){enlargeHeader()};

    
    function enlargeHeader(){

        let header2 = document.getElementById("header-2");
        let infoCol = document.getElementById("info-col");
        let infoRight = document.getElementById("info-col-right");

        if (document.documentElement.scrollTop > 300 ){
            header2.style.fontSize = "2rem";
            header2.style.animation = "space-enlarge 2s";
            header2.style.marginTop = "250px";
            infoRight.style.backgroundColor = infoCol.style.backgroundColor = "var(--ylw-clr)";
            infoRight.style.color = infoCol.style.color = "var(--drk-clr)";
            infoRight.style.animation = infoCol.style.animation = "col-open 2s";
            infoRight.style.height = infoCol.style.height = "400px"
        }
        else{
            header2.style.fontSize = "1rem";
            header2.style.animation = "space-minimise 2s"
            header2.style.marginTop = "10px";
            infoRight.style.backgroundColor = infoCol.style.backgroundColor = "var(--light-opaque-2)";
            infoRight.style.color = infoCol.style.color = "var(--bg-clr)";
            infoRight.style.animation = infoCol.style.animation = "col-close 2s"
            infoRight.style.height = infoCol.style.height = "200px";
        }
    }
</script>
{% endblock %}