{% extends "base.html" %}
{% load static %}

{% block homebody %}
<div class="hero-opaque"></div>
<img src="/media/hero.gif" alt="tutor line" class="hero-img">
{% endblock %}

{% block content %}
    <section>
        <div class="hero-txt mt-5">
            <h1 class="hero-header">
                Your shortcut to the right support for every learner.
            </h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 hero-prgrph mt-5 p-3">
                        <h3>Welcome to tutorline, your place to connect with qualified tutors and teachers.</h3>
                        <p>Students: browse subjects, compare educator profiles, and choose the right fit for your learning needs.</p>
                        <p>Educators….. create your profile to share your expertise and set your rates.
                               Our platform makes it simple — search, connect, and start learning or teaching with confidence.
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </section>
{% endblock %}