h1{
    margin-top: 30px;
}

h2{
    margin-top: 20px;
}

p{
    text-align: justify;
}

h1, h2{
    text-align: center;
}

h1, h2, p{
    font-family: var(--main-font);
    color:var(--drk-clr)
}

.col-6{
    border:solid 2px var(--drk-clr);
    border-radius: 15px;
    padding: 20px;
    background-color: var(--light-opaque);
}