/* -------------------------root styles */
:root{
    --bg-clr:#fffdfa;
    --opaque:rgba(122, 46, 46, 0.8);
    --comp-opaque:rgba(122, 46, 46, 0);
    --drk-clr:#7a2e2e;
    --ylw-clr:#F4B400;
    --ylw-opaque:rgba(244, 180, 0, 0.6);
    --light-opaque:rgba(255, 253, 250, 0.8);
    --light-opaque-1:rgba(255, 253, 250, 0.6);
    --light-opaque-2:rgba(255, 253, 250, 0.4);
    --main-font:"Schibsted Grotesk", sans-serif;
}

a {
    text-decoration: none !important;
    color: inherit !important;
    outline: none !important;
    text-underline-offset: 10px;
}

/* universal styles */

.light-op-1{
    background-color: var(--light-opaque-1);
}

.light-op-2{
    background-color: var(--light-opaque-2);
}

.small-txt{
    font-size: 1rem;
}

html body{
    background-color: var(--bg-clr);
}

.above-nav{
    margin-top:10px;
    height:30px;
    position:relative;
    z-index: 4;
}

.nav{
    height:70px;
    color:var(--drk-clr);
    background-color:var(--light-opaque);
    padding-top:20px;
    border-radius: 9999px;
    border:solid 2px var(--bg-clr);
    position: relative;
    z-index: 4;
    font-family:var(--main-font);
}

.logo{
    width:40px;
    height:40px;
    position:relative;
    bottom:5px;
    z-index: 4;
}

.logo-txt{
    font-weight: 800;
    position:relative;
    top:0;
    right:4px;
}

ul,
.nav-options{
    list-style: none;
    display:flex;
    gap:3rem;
}

.nav-options{
    position: relative;
    left:50px;
    top:5px;
    color:var(--drk-clr)
}

.nav-select:hover{
    color:var(--ylw-clr);
    font-weight:100;
}


#sign-in-dropdown{
    margin-top: 24px;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--drk-clr);
    color:var(--bg-clr);
    position: relative;
    z-index: 6;
    display: none;
    overflow: hidden;
}

.sign-in:hover #sign-in-dropdown{
    display:block;
    animation: drop-down 1s;
    position: relative;
    z-index: 6;
}

@keyframes drop-down{
  0%{
     height:10px;
  }

  100%{
     height:130px;
  }
}

.nav:hover{
    border:solid 2px var(--ylw-clr);
    
}

/* footer */

.footer-area{
    position: relative;
    z-index: 5;
    color:var(--drk-clr);
    background-color: var(--light-opaque);
    padding:50px;
    border-top:var(--ylw-clr) solid 3px;
    border-left:var(--ylw-clr) solid 3px;
    border-top-left-radius: 10px;
}


/* -------------------home page styles */

.hero-opaque,
.hero-img{
    width:100%;
    height:100%;
    position:fixed;
    object-fit: cover;
    zoom: 60%;
    aspect-ratio: 4 / 3;
    top:0;
}

.hero-opaque{
    background-color: var(--opaque);
    position: fixed;
    z-index: 3;
}

.hero-txt{
    position: relative;
    z-index: 5;
    font-family: var(--main-font);
    color:var(--bg-clr);
    text-align: center;
    /* background-color: var(--light-opaque); */
}

.info-col{
    border:solid 2px var(--drk-clr);
    border-radius: 10px;
    background-color: var(--light-opaque-2);
    padding:20px;
    margin-top: 20px;
    height:200px;
}

@keyframes space-enlarge{
  0%{
     margin-top:10px;
  }

  100%{
     margin-top:250px;
  }
}

@keyframes space-minimise{
  0%{
     margin-top:250px;
  }

  100%{
     margin-top:10px;
  }
}


@keyframes col-open{
  0%{
     height:200px;
  }

  100%{
     height:400px;
  }
}

@keyframes col-close{
  0%{
     height:400px;
  }

  100%{
     height:200px;
  }
}

/* .info-col-opaque{
    height:200px;
    width:200px;
    position: relative;
    z-index: 2;
    background-color: rgba(244, 180, 0, 0.4);
} */

.empty-row{
    height:80px;
}

#subjects{
    position: relative;
    z-index: 5;
    color:var(--bg-clr);
    font-size: 2rem;
    text-align: center;
}

.subject-box{
    background-color: var(--light-opaque-2);
    text-align: center;
    margin-left: 10px;
    padding-top: 20px;
    height:100px;
    position: relative;
    z-index: 5;
    color:var(--bg-clr);
    font-family: var(--main-font);
    border-radius: 10px;
    
    /* object-fit: fill;
    zoom:20%; */
}

.subject-icon{
    font-size: 2rem;
}

.subject-box:hover{
    background-color: var(--ylw-opaque);
    color:var(--drk-clr)
}


.behind{
    position: relative;
    z-index: 3;
}