/* -------------------------root styles */
:root{
    --bg-clr:#fffdfa;
    --opaque:rgba(122, 46, 46, 0.8);
    --drk-clr:#7a2e2e;
    --light-opaque:rgba(255, 253, 250, 0.8);
    --main-font:"Schibsted Grotesk", sans-serif;
}

a {
    /* text-decoration: none !important; */
    color: var(--drk-clr) !important;
    outline: none !important;
    text-underline-offset: 10px;
}

/* a:hover{
    text-decoration: underline !important;
} */

/*  -----------------base.html styles */

html body{
    background-color: var(--bg-clr);
}

.above-nav{
    margin-top:10px;
    height:30px;
    position:relative;
    z-index: 4;
}

.nav{
    height:70px;
    color:var(--drk-clr);
    background-color:var(--light-opaque);
    padding-top:20px;
    border-radius: 9999px;
    border:solid 2px var(--bg-clr);
    position: relative;
    z-index: 4;
    font-family:var(--main-font);
}

.logo{
    width:40px;
    height:40px;
    position:relative;
    bottom:5px;
    z-index: 4;
}

.logo-txt{
    font-weight: 800;
    position:relative;
    top:9px;
    right:4px;
}

ul,
.nav-options{
    list-style: none;
    display:flex;
    gap:3rem;
}

.nav-options{
    position: relative;
    left:50px;
}

#sign-in-dropdown{
    margin-top: 24px;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--light-opaque);
    position: relative;
    z-index: 5;
    display: none;
    overflow: hidden;
}

.sign-in:hover #sign-in-dropdown{
    display:block;
    animation: drop-down 1s;
}

@keyframes drop-down{
  0%{
     height:10px;
  }

  100%{
     height:150px;
  }
}

.nav:hover{
    border:solid 2px transparent;
    
}

/* .menu-bars{
    position: relative;
    left:20px;
} */


/* -------------------home page styles */

.hero-opaque,
.hero-img{
    width:100%;
    height:100%;
    position:fixed;
    object-fit: cover;
    zoom: 60%;
    aspect-ratio: 4 / 3;
    top:0;
}

.hero-opaque{
    background-color: var(--opaque);
    position: fixed;
    z-index: 3;
}