/* removes bootstrap button outline */

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-btn{
    color:var(--drk-clr) !important;
    font-weight: 700 !important;
    font-family: var(--main-font) !important;
    background-color: rgba(122, 46, 46, 0.1) !important;
    border: var(--drk-clr) solid 2px !important;
    border-radius: 5px !important;
}

.btn-btn:hover{
    background-color: var(--drk-clr) !important;
    border: rgba(122, 46, 46, 0.1) solid 2px !important;
    color:var(--light-clr) !important;
}

.btn-btn:active:focus,
.btn.active:focus{
    border: var(--drk-clr) outset 0.5px !important;
    background-color: var(--ylw-clr) !important;
}

.logout-btn{
    color:var(--light-clr) !important;
}

.logout-btn:hover{
    color:var(--ylw-clr) !important;
}
.sbmt-btn{

}

.close-btn{

}