.form-container{
    background-color: var(--light-clr);
    border:2px solid var(--drk-clr);
    border-radius: 15px;
    padding:30px;
}

h4{
    text-align: center;
    color:var(--drk-clr);
    font-family: var(--main-font);
}

label{
    display:none;
}

label[for="id_location"],
label[for="id_category"]{
    display: block;
    margin-top: 15px;
    color:var(--drk-clr);
    font-family: var(--main-font);
}

input, textarea, select{
    background-color: var(--light-opaque-1);
    outline:none;
    border: none;
    box-shadow: 0 0.5px;
    margin:0;
    width:100%;
    color:var(--drk-clr);
    font-family: var(--main-font);
}

input{
    height:60px
}

select{
    height:40px
}

textarea{
    resize: none;
    height:100px;
    padding-top: 20px;
}

button{
    margin-top: 20px;
    align-items: center;
}

input:placeholder{
    color:var(--drk-clr)
}