h1{
    font-family: var(--main-font);
    color:var(--drk-clr);
    margin-top: 20px;
}

.message-row{
    color:var(--drk-clr);
    font-family: var(--main-font);
    margin: 0;
    border-bottom: solid 0.5px var(--light-clr);
    padding:20px;
    height:60px;
    overflow: hidden;
    cursor: pointer;
}

.message-row-unread{
    background-color: var(--light-opaque-2);
    font-weight: 800;
}

.message-row-read{
    background-color: var(--light-opaque);
}

.message-row:hover{
    background-color: var(--light-opaque);
}

.message-show{
    display:none;
}

.message-content{
    color:var(--drk-clr);
    font-family: var(--main-font);
    background-color: var(--light-clr);
    padding:20px;
    border-right: solid 2px var(--ylw-opaque);
    border-left: solid 2px var(--ylw-opaque)
}

.contact-details{
    margin-top: 25%;
}

.delete-container{
    position: relative;
    left:130px;
    z-index:9;
    bottom:10px;
    border-bottom: solid 2px;
    width: 20%;
    text-align: center;
}

.delete-container:hover{
    color:var(--ylw-clr)
}

#delete-message{
    position: absolute;
    z-index: 9;
    left:30%;
    bottom:25%;
    width:300px;
    padding:30px;
    border-radius: 15px;
    color:var(--drk-clr);
    background-color: var(--light-clr);
    font-family: var(--main-font);
    display:none
}