.nav-mobile{
    height:50px;
}

.logo-mobile{
    width:35px;
    height:35px;
    position:relative;
    bottom:12px;
    left:15px;
    z-index: 4;
}

.logo-txt-mobile{
    font-weight: 800;
    position:relative;
    bottom:7px;
    left:12px;
}

.mobile-nav-layout{
    list-style: none;
    display:flex;
    gap:10rem;
}

.menu-mobile{
    font-size: 1.3rem;
    position: relative;
    bottom:5px;
    left:10px;
}


.mobile-nav-dropdown{
    background-color: var(--ylw-clr);
    color: var(--drk-clr);
    width:70%;
    font-family: var(--main-font);
    text-align: left;
    position: absolute;
    left:25%;
    padding:10px;
    z-index: 4;
    border-radius: 15px;
    border: 2px solid var(--light-clr);
    display: none;
}

.mobile-nav-dropdown ul{
    list-style: none;
}

.mobile-nav-dropdown li{
    padding-bottom: 10px;
}

