.nav-mobile{
    height:50px;
}

.logo-mobile{
    width:35px;
    height:35px;
    position:relative;
    bottom:12px;
    left:15px;
    z-index: 4;
}

.logo-txt-mobile{
    font-weight: 800;
    position:relative;
    bottom:7px;
    left:12px;
}

.mobile-nav-layout{
    list-style: none;
    display:flex;
    gap:10rem;
}

.menu-mobile{
    font-size: 1.3rem;
    position: relative;
    bottom:5px;
    left:10px;
}

.mobile-nav-dropdown{
    background-color: var(--light-opaque);
    position: relative;
    z-index: 4;
}

