/* sign up styles */

.sign-in-form{
    padding-top: 20px;
    height:auto;
    width:auto;
    color:var(--drk-clr);
    font-family: var(--main-font);
}

/* 1. Stack labels and inputs */
label {
  display: block;
  margin-bottom: 0.5em;
  text-align: center;
}

input {
  display: block;
  margin-bottom: 0.5em;
  width:400px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 10px;
  padding: 0.5em;
  background-color: var(--opaque);
}

input:focus{
    background-color: var(--light-opaque-1);
}


/* 3. Autofill styling */
input:-webkit-autofill{
  background-color: var(--ylw-opaque) !important;
  color: var(--drk-clr) !important;
  font-family: var(--main-font);
  box-shadow: 0 0 0px 1000px var(--light-opaque) inset;
}

input[type="checkbox"]{
    height:20px;
    width:20px;
    border-radius: 10px;
}
