h1{
    text-align: center;
    font-family: var(--main-font);
    color:var(--drk-clr);
    margin-top: 40px;
}

.search-bar{
    height:50px;
    width:100%;
    color:var(--drk-clr);
    font-weight: bold;
    font-size: 1.3rem;
}

.search-bar .btn{
    color:var(--drk-clr);
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    left:480px;
    bottom:60px;
}


.search-bar i:hover{
    font-size: 1.5rem;
}

.search-bar i:focus{
    color:var(--ylw-clr);
}

.search-input{
    border:solid 1px var(--light-clr);
    color:var(--drk-clr);
    font-weight: bold;
    border-radius: 40px;
    height: 60px;
    width:100%;
    display: block;
    margin-bottom: 0.5em;
    outline: none;
    box-shadow: none;
    padding: 0.5em;
    background-color: var(--light-opaque);
}

.search-input:focus{
    background-color: var(--light-opaque-1);
}

.tutor-card{
    width:250px;
    height:400px;
    position: relative;
    z-index: 20;
    left:20px;
    background-color: var(--drk-clr);
    font-family: var(--main-font);
    padding:20px;
    border:solid 3px var(--light-opaque-1);
    border-radius: 20px;
    color:var(--light-clr);
    cursor: pointer;
    margin-bottom:20px;
}

.tutor-card:hover{
    width: 251px;
    height:402px;
    left:19px;
    border:solid 3px var(--ylw-clr);
}

/* .image-opaque{
    background-color:rgba(122, 46, 46, 0.2);
    position: absolute;
    z-index: 8;
    width:150px;
    height:150px;
    border-radius: 50%;
} */

.image{
    display: flex;
    justify-content:center;
    width:150px;
    height:150px;
    border-radius: 50%;
    position: relative;
    /* bottom:10px; */
}

.price-stamp{
    position:absolute;
    bottom:200px;
    left:170px;
    z-index: 10;
    padding:5px;
    font-size: 0.9rem;
    border-radius: 20px;
    font-weight: 700;
    background-color: var(--light-opaque);
    color:var(--drk-clr);
}

.per-hr{
    font-size: 0.7rem;
}

.details{
    position: relative;
    top:20px;
}


h3{
    text-align: center;
}

p{
    font-size: 1.1rem;
}

.stars{
    font-size: 0.8rem;
    color:var(--ylw-clr);
}
