h2, h3, h5{
    color:var(--drk-clr);
    font-family: var(--main-font);
}

h2, h3{
    text-align: center;
}

.main-image{
    height:300px;
    width:300px;
    border-radius: 20%;
    margin-bottom: 20px;
    padding:10px;
    background-color: var(--light-opaque);
    border:2px solid var(--opaque)
}


.description, .details{
    background-color: var(--light-opaque);
    color:var(--drk-clr);
    font-family: var(--main-font);
    padding:20px;
    border: solid 2px var(--opaque);
    border-radius: 15px;
}

.image-box{
    padding:20px;
    width:100%;
    /* background-image: linear-gradient(to bottom left, var(--drk-clr), var(--ylw-clr)); */
    border: solid 2px var(--light-clr);
    border-radius: 15px;
    font-family: var(--main-font);
    color: var(--light-clr);
}

.tutor-image{
    height:200px;
    width:200px;
    border-radius: 50%;
    position: relative;
    top:10px;
    right:20px;
    
}

.card-logo{
    height:30px;
    background-color: var(--light-opaque);
    padding:10px;
    border-radius: 9999px;
    border:solid var(--light-clr) 1px;
}

.card-logo-image{
    height:30px;
    width:30px;
    position: relative;
    bottom:12px;
}

.logo-text{
    color:var(--drk-clr);
    font-size: 0.8rem;
    position: relative;
    bottom:7px;
    right:9px
}

.b-c-email{
    font-size: 0.7rem;
    overflow:hidden;
}

#download-card{
    font-family: var(--main-font);
}