{% extends "base.html" %}
{% load static %}

{% block extracss%}
<link rel="stylesheet" href="{% static 'css/tutors.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block extra_title %} - Create Profile {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Create a Tutor Profile</h1>
            <hr>
            <p class="text-center">Creating for {{ user.username }}</p>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-container">
                    <form action="{% url 'create_tutor' user.id %}" method="POST" enctype="multipart/form-data">
                        <h4>To create your profile fill in the form </h4>
                        {% csrf_token %}
                        <input type="text" value="{{ user.username }}" name="user" id="id_user" hidden>
                        {{ form.as_div }}
                        <button class="btn btn-btn" type="submit">Create Profile</button>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</section>

{% endblock %}
{% block postloadjs %}

{% endblock %}