{% extends "base.html" %}
{% load static %}

{% block extracss%}

{% endblock %}

{% block extra_title %} - Payment Setup {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Payment Setup</h1>
            <hr>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="form-container">
                    <p>To set up your payment information, please contact us at <a href="mailto:payment@tutor-line.co.uk">payment@tutor-line.co.uk</a></p>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</section>

{% endblock %}
{% block postloadjs %}


{% endblock %}