{% extends "base.html" %}
{% load static %}

{% block extracss%}
<link rel="stylesheet" href="{% static 'css/tutors.css' %}">
<link rel="stylesheet" href="{% static 'css/review-tutor.css' %}">
{% endblock %}

{% block extra_title %} - Review Tutor {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Review {{ tutor }}</h1>
            <!-- <h2>Rated ({{ total }})</h2> -->
            <hr>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-container">
                    <form action="{% url 'review_tutor' tutor.id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" value="{{ tutor.id }}" name="tutor" id="id_tutor" hidden>
                        <!-- <p>Your are reviewing {{ tutor.name }}</p> -->
                        <label for="id_name">Your name:</label>
                        <div><input type="text" name="name" id="id_name" placeholder="Your Name"></div>
                        <label for="id_review">Your Review here:</label>
                        <div><textarea name="review" id="id_review" placeholder=" Your review here"></textarea></div>
                        <label for="id_rating">Rate {{ tutor.name }}</label>
                        <div><input type="number" name="rating" id="id_rating" placeholder="Rate {{ tutor.name }}"></div>
                        
                        <div><button class="btn btn-btn" type="submit">Review</button></div>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</section>

{% endblock %}
{% block postloadjs %}

</script>


{% endblock %}