{% extends "base.html" %}
{% load static %}

{% block extracss%}
<link rel="stylesheet" href="{% static 'css/tutors.css' %}">

{% endblock %}

{% block extra_title %} - Review Tutor {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Review your Tutor</h1>
            <hr>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-container">
                    <form action="{% url 'review_tutor' tutor.id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" value="{{ tutor.id }}" name="tutor" id="id_tutor">
                        <input type="text" name="name" id="id_name">
                        <input type="text" name="review" id="id_review">
                        <input type="number" name="rating" id="id_rating">
                        <button class="btn btn-btn" type="submit">Review</button>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</section>

{% endblock %}
{% block postloadjs %}

</script>


{% endblock %}