{% extends "base.html" %}
{% load static %}

{% block extracss%}
<link rel="stylesheet" href="{% static 'css/tutors.css' %}">
{% endblock %}

{% block extra_title %} - Tutors {% endblock %}


{% block content %}
    <h1>Find your Tutor</h1>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-5">
                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Search here">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="col-5"></div>
        </div>
    </div>
    <section class="mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="tutor-card">
                        <h3>MY_NAME</h3>
                        <div class="image"></div>
                        <div class="row">
                            <div class="col-6">My_Name</div>
                            <div class="col-6">Available</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Subject</div>
                            <div class="col-6">01234567</div>
                        </div>
                        <div class="row">
                            <div class="col-6">£50 p/h</div>
                            <div class="col-6">email@email</div>
                        </div>
                        <div class="row">
                            <div class="col-6">5 stars</div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="tutor-card">
                        <h3>MY_NAME</h3>
                        <div class="image"></div>
                        <div class="row">
                            <div class="col-6">My_Name</div>
                            <div class="col-6">Available</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Subject</div>
                            <div class="col-6">01234567</div>
                        </div>
                        <div class="row">
                            <div class="col-6">£50 p/h</div>
                            <div class="col-6">email@email</div>
                        </div>
                        <div class="row">
                            <div class="col-6">5 stars</div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="tutor-card">
                        <h3>MY_NAME</h3>
                        <div class="image"></div>
                        <div class="row">
                            <div class="col-6">My_Name</div>
                            <div class="col-6">Available</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Subject</div>
                            <div class="col-6">01234567</div>
                        </div>
                        <div class="row">
                            <div class="col-6">£50 p/h</div>
                            <div class="col-6">email@email</div>
                        </div>
                        <div class="row">
                            <div class="col-6">5 stars</div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block postloadjs %}

{% endblock %}