{% extends "base.html" %}
{% load static %}

{% block extracss%}
<link rel="stylesheet" href="{% static 'css/tutors.css' %}">
{% endblock %}

{% block extra_title %} - Tutors {% endblock %}


{% block content %}
    <h1>Find your Tutor</h1>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-1 col-md-2"></div>
            <div class="col-10 col-md-5">
                <!-- search bar form -->
                 <form action="{% url 'tutors' %}" method="GET">
                    <div class="search-bar">
                        <input type="text" class="search-input" name="q" placeholder="Search here">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                 </form>
            </div>
            <div class="col-1 col-md-5">
                <form action="{% url 'tutors' %}" method="GET">
                    <div class="select-box">
                        <select name="sort" onchange="this.form.submit()">
                            <option value="">Sort by...</option>
                            <option value="price_low" {% if request.GET.sort == "price_low" %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_high" {% if request.GET.sort == "price_high" %}selected{% endif %}>Price (high to low)</option>
                            <option value="most_recent" {% if request.GET.sort == "most_recent" %}selected{% endif %}>Most Recent</option>
                            <option value="highest_rating" {% if request.GET.sort == "highest_rating" %}selected{% endif %}>Highest Rated</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="mt-5">
        <div class="container-fluid">
            <div class="row search-results">
                <div class="col-1 col-md-2"></div>
                <div class="col-11 col-md-4">
                    <h5>We have found ({{ tutors.count }}) tutor{% if tutors.count == 1 %}{% else %}s{% endif %}{% if search %}, for <strong>"{{ search }}"</strong>.{% else %}.
                        {% endif %}
                    </h5>
                </div>
                <div class="d-none d-md-block col-md-6"></div>
            </div>
            <div class="row mt-3">
                <div class="col-1 col-md-2"></div>
                <div class="col-10 col-md-8">
                    <div class="row">
                        {% for tutor in tutors %}
                        
                        <div class="col-12 col-md-6 col-lg-4">
                            <a href="{% url 'tutor_details' tutor.id %}">
                                <div class="tutor-card shadow">
                                    <div class="image-opaque"></div>
                                    {% if tutor.is_male == True %}
                                    {% if tutor.image %}
                                    <img src="{{ tutor.image.url }}" class="image shadow" alt="{{ tutor.name }}">
                                    {% else %}
                                    <img src="/media/placeholder_male2.png" class="image shadow" alt="{{ tutor.name }}">
                                    {% endif %}
                                    {% else %}
                                    <img src="/media/placeholder_female.png" class="image shadow" alt="{{ tutor.name }}">
                                    {% endif %}
                                    <p class="price-stamp">£{{ tutor.price }}/<span class="per-hr">hr</span></p>
                                    <div class="details">
                                        <h3>{{ tutor.name }}</h3>
                                        <p><i class="fa-solid fa-book-open"></i> : {{ tutor.subject }}</p>
                                        <!-- <p>
                                            <i class="fa-regular fa-hand-pointer"></i>
                                             : {% if tutor.active == True %}Available{% else %}Unavailable{% endif %}
                                        </p> -->
                                        <p>
                                            Rating : {% if tutor.rating == 0 %} 
                                            <span class="no-rating">There are no ratings yet!</span>
                                            {% else %}
                                            {% if tutor.rating == 5 %}
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            {% elif tutor.rating > 4 %}
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star-half-stroke r-stars"></i>
                                            {% elif tutor.rating == 4 %}
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            {% elif tutor.rating > 3 %}
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star-half-stroke r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            {% elif tutor.rating == 3 %}
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            {% elif tutor.rating > 2 %}
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star-half-stroke r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            {% elif tutor.rating == 2 %}
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            {% elif tutor.rating > 1 %}
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-solid fa-star-half-stroke r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            {% else %}
                                            <i class="fa-solid fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            <i class="fa-regular fa-star r-stars"></i>
                                            {% endif %}
                                            <span class="rating-num"> / {{ tutor.rating|floatformat:1 }}</span>
                                            {% endif %} 
                                        </p>
                                        <p class="date-tag">Date Added: {{ tutor.date_added }}</p>
                                        <p class="category-tag"><i class="fa-solid fa-bookmark"></i> Category: <strong>{{ tutor.category }}</strong></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
                <div class="col-1 col-md-2"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block postloadjs %}

{% endblock %}