{% extends "base.html" %}
{% load static %}

{% block extracss%}
<link rel="stylesheet" href="{% static 'css/tutors.css' %}">
{% endblock %}

{% block extra_title %} - Tutors {% endblock %}


{% block content %}
    <h1>Find your Tutor</h1>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-5">
                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Search here">
                    <button class="btn"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="col-5"></div>
        </div>
    </div>
    <section class="mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-4">
                            <a href="">
                                <div class="tutor-card shadow">
                                    <div class="image-opaque"></div>
                                    <img src="/media/placeholder_male2.png" class="image shadow" alt="My_Name">
                                    <p class="price-stamp">£30/<span class="per-hr">hr</span></p>
                                    <div class="details">
                                        <h3>Chaim Babblestein</h3>
                                        <p><i class="fa-solid fa-book-open"></i> : Subject</p>
                                        <p><i class="fa-regular fa-hand-pointer"></i> : Available</p>
                                        <p>
                                            Rating : 
                                            <i class="fa-solid fa-star stars"></i>
                                            <i class="fa-solid fa-star stars"></i>
                                            <i class="fa-solid fa-star stars"></i>
                                            <i class="fa-solid fa-star-half-stroke stars"></i>
                                            <i class="fa-regular fa-star stars"></i>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <div class="tutor-card">
                                <img src="" alt="">
                                <p>Price</p>
                                <h3>My_Name</h3>
                                <p>Subject</p>
                                <p>Rating</p>
                                <p>Reviews</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="tutor-card">
                                <img src="" alt="">
                                <p>Price</p>
                                <h3>My_Name</h3>
                                <p>Subject</p>
                                <p>Rating</p>
                                <p>Reviews</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <a href="">
                                <div class="tutor-card shadow">
                                    <div class="image-opaque"></div>
                                    <img src="/media/placeholder_female.png" class="image shadow" alt="My_Name">
                                    <p class="price-stamp">£30/<span class="per-hr">hr</span></p>
                                    <div class="details">
                                        <h3>My_Name</h3>
                                        <p>Subject</p>
                                        <p>Rating</p>
                                        <p>Reviews</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="">
                                <div class="tutor-card shadow">
                                    <div class="image-opaque"></div>
                                    <img src="/media/placeholder_male2.png" class="image shadow" alt="My_Name">
                                    <p class="price-stamp">£30/<span class="per-hr">hr</span></p>
                                    <div class="details">
                                        <h3>My_Name</h3>
                                        <p>Subject</p>
                                        <p>Rating</p>
                                        <p>Reviews</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="">
                                <div class="tutor-card shadow">
                                    <div class="image-opaque"></div>
                                    <img src="/media/profile_image_4.png" class="image shadow" alt="My_Name">
                                    <p class="price-stamp">£30/<span class="per-hr">hr</span></p>
                                    <div class="details">
                                        <h3>My_Name</h3>
                                        <p>Subject</p>
                                        <p>Rating</p>
                                        <p>Reviews</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block postloadjs %}

{% endblock %}