<div class="sign-out-message" id="login-create-profile">
        <h3>You must be signed in to create a profile</h3>
        <div class="row mt-3">
          <div class="col-2"></div>
          <div class="col-2">
            <button class="btn btn-btn primaryAction"><a href="{% url 'account_login' %}">OK</a></button>
          </div>
          <div class="col-2">
            <button class="btn btn-btn ml-6" role="button" onclick="closeLogout()">Cancel</button>
          </div>
          <div class="col-2"></div>
          <div class="col-2"></div>
          <div class="col-2"></div>
        </div>
      </div>