<ul class="d-block d-md-none nav nav-mobile">
    <span class="mobile-nav-layout">
        <li>
            <a href="{% url 'home' %}">
            <img src="/media/logo.png" alt="logo" class="logo-mobile">
            <span class="logo-txt-mobile">TutorLine</span>
            </a>
        </li>
        <li onclick="showMenu()"><i class="fa-solid fa-bars menu-mobile"></i></li>
    </span>
</ul>
<!-- menu dropdown for mobile -->
 <div class="mobile-nav-dropdown" id="mobile-menu-dropdown" onmouseleave="hideMenu()">
    <ul>
        <!-- <li>Find a tutor</li>
        <li>Subjects</li>
        <li>Create profile</li>
        <li>Login</li>
    </ul> -->
        <li><a href="{% url 'tutors' %}">Find a Tutor</a></li>
        <li><a href="#subjects">Subjects</a></li>
        <li><a href="">Create Tutor Profile</a></li>
        <li>
            {% if request.user.is_authenticated %}
            <p><strong>Hi!</strong> {{ user.username }}</p>
            <div id="sign-in-dropdown">
            {% if user.is_authenticated and user.is_superuser %}
                <p><a href="/admin/">Admin</a></p>
            {% endif %}
                <button class="btn logout-btn" onclick="revealLogout()">Logout</button>
            </div>
            {% else %}
            <i class="fa-solid fa-user"></i>
            <a href="{% url 'account_login' %}">Login/SignUp</a>
            {% endif %}
        </li>
    </ul>
 </div>