{% extends "base.html" %}
{% load static %}

{% block extracss%}
    <!-- <link rel="stylesheet" href="{% static 'css/forms.css' %}"> -->
{% endblock %}

{% block extra_title %} - Compose Message {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Compose message</h1>
            
            <hr>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-container">
                    <form method="POST" action="{% url 'compose_message' compose.id %}">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <!-- <input type="text" value="{{ compose.id }}" name="tutor_name" id="id_tutor_name" hidden>
                        <input type="text" name="name" maxlength="254" id="id_name" required placeholder="Enter Your Name">
                        <input type="text" name="phone" id="id_phone" required>
                        <input type="email" name="email" id="id_email" required>
                        <textarea name="message" id="id_message" required></textarea> -->
                        <button type="submit">Send Message</button>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}

{% endblock %}